.cicflowmeter-instructions {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    /* align-items: center; */
    /* display: flex; */
    /* text-align: center; */
  }
  
  .cicflowmeter-instructions h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .cicflowmeter-instructions p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .cicflowmeter-instructions pre {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0;
    font-size: 14px;
    overflow-x: auto;
  }
  
  .cicflowmeter-instructions a {
    color: #007bff;
    text-decoration: none;
  }
  
  .cicflowmeter-instructions a:hover {
    text-decoration: underline;
  }
  
  .cicflowmeter-instructions .kernal-list {
    margin-top: 20px;
  }
  
  .cicflowmeter-instructions .kernal-list h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .cicflowmeter-instructions .kernal-list ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  .cicflowmeter-instructions .kernal-list li {
    margin-bottom: 5px;
  }

  .llistt{
    font-size: larger;
  }
  